body {
    background-color: rgb(22, 22, 22);
    font-family: "Inter", sans-serif;
    background: rgb(4,4,27);
    background: linear-gradient(180deg, rgba(4,4,27,1) 0%, rgba(22,21,82,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100vh;
    width: 100vw
}

h1, h2, p {
    font-weight: 800;
    color: white;
    margin: 12px 12px 12px 12px;
}

#datablock {
    background-color: darkblue;
    border: 2px solid rgb(90, 172, 255);
}

footer.bg-dark-text-center-py-3 {
    position: fixed;
}
