<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviro Watch</title>
</head>
<body>

    <div class="container">

        <div class="component">
            <h1 class="sensor-title">Temperature</h1>
            <h2 class="sensor-value">val</h2>
        </div>

        <div class="component">
            <h1 class="sensor-title">Gas 1</h1>
            <h2 class="sensor-value">val</h2>
        </div>

        <div class="component"></div>
            <h1 class="sensor-title">Gas 2</h1>
            <h2 class="sensor-value">val</h2>
        </div>

        <div class="component"></div>
            <h1 class="sensor-title">Gas 3</h1>
            <h2 class="sensor-value">val</h2>
        </div>

        <div class="component"></div>
            <h1 class="sensor-title">Gas 3</h1>
            <h2 class="sensor-value">val</h2>
        </div>

        <div class="component"></div>
            <h1 class="sensor-title">Humidity</h1>
            <h2 class="sensor-value">val</h2>
        </div>

    </div>

</body>
</html>